<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyADyUR6PYN87Nad43BKfFPpzq6MM_QNAss</string>
	<key>GCM_SENDER_ID</key>
	<string>865228005909</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ma.emsi.travelManagementMobile</string>
	<key>PROJECT_ID</key>
	<string>travelclaimproject</string>
	<key>STORAGE_BUCKET</key>
	<string>travelclaimproject.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:865228005909:ios:56c798b89b83d172d5241c</string>
</dict>
</plist>