<div
    class=" inset-0 flex w-full flex-col min-w-0 overflow-y-auto"
    cdkScrollable>

    <!-- Header -->
    <div class="relative flex-0 py-8 px-4 sm:p-16 overflow-hidden bg-gray-800 dark">
        <!-- Background - @formatter:off -->
        <!-- Rings -->
        <svg class="absolute inset-0 pointer-events-none"
             viewBox="0 0 960 540" width="100%" height="100%" preserveAspectRatio="xMidYMax slice" xmlns="http://www.w3.org/2000/svg">
            <g class="text-gray-700 opacity-25" fill="none" stroke="currentColor" stroke-width="100">
                <circle r="234" cx="196" cy="23"></circle>
                <circle r="234" cx="790" cy="491"></circle>
            </g>
        </svg>
        <!-- @formatter:on -->
        <div class="z-10 relative flex flex-col items-center">
            <h2 class="text-xl font-semibold">Gestion des frais de déplacement</h2>
            <div class="mt-1 text-4xl sm:text-7xl font-extrabold tracking-tight leading-tight text-center">
                Gestion des utilisateurs
            </div>
        </div>
    </div>

    <!-- Main -->
    <div class="flex bg-gray-100  shadow-md flex-auto p-5">
        <div class="flex flex-col flex-auto w-full max-w-xs sm:max-w-5xl mx-auto">
            <div class="w-full flex flex-row flex-wrap justify-between items-center">
                <mat-form-field
                    class="w-72">
                    <input #searchField
                           (input)="criteria(searchField.value)"
                           matInput
                           [placeholder]="'search..'">
                </mat-form-field>

                <button (click)="openCreate()" mat-flat-button color="primary">NEW</button>
            </div>

            <table class="min-w-full divide-y-2 divide-gray-200 bg-white shadow-md text-sm">
                <thead class="text-start bg-gray-200">
                <tr>
                    <th class="whitespace-nowrap text-start px-4 py-4 font-bold text-gray-900">FirstName</th>
                    <th class="whitespace-nowrap text-start px-4 py-4 font-bold text-gray-900">LastName</th>
                    <th class="whitespace-nowrap text-start px-4  py-4 font-bold text-gray-900">Tel</th>
                    <th class="whitespace-nowrap text-start px-4 py-4 font-bold text-gray-900">Email</th>
                    <th class="whitespace-nowrap text-start px-4 py-4 font-bold text-gray-900">Action</th>
                </tr>
                </thead>

                <tbody class="divide-y divide-gray-200">
                <tr *ngFor="let item of demandeurs">
                    <td class="whitespace-nowrap px-4 py-4 font-medium text-gray-900">{{item?.firstName}}</td>
                    <td class="whitespace-nowrap px-4 py-4 text-gray-700">{{item?.lastName}}</td>
                    <td class="whitespace-nowrap px-4 py-4 text-gray-700">{{item?.tel}}</td>
                    <td class="whitespace-nowrap px-4 py-4 text-gray-700">{{item?.email}}</td>
                    <td class="whitespace-nowrap px-4 py-4 text-gray-700">
                        <button [matMenuTriggerFor]="menu" mat-icon-button>
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item>Supprimer</button>

                            <button [routerLink]="'/admin/demandes/' + item?.email"
                                    mat-menu-item>Les demandes
                            </button>
                        </mat-menu>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
